.projectListWrapper {
  max-width: 375px;
  gap: var(--s-m);
  display: flex;
  flex-direction: column;
}

.projectList {
  display: flex;
  gap: var(--s-s);
  flex-direction: column;
  list-style: none;
}

.projectListItem {
  padding: var(--s-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.projectForm {
  max-width: 375px;
  display: grid;
  gap: var(--s-s);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name         name"
    "createButton createButton"
    "cancelButton cancelButton";
}

.projectForm> :nth-child(1) {
  grid-area: name;
}

.projectForm> :nth-child(2) {
  grid-area: createButton;
}

.projectForm> :nth-child(3) {
  grid-area: cancelButton;
}