.header {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-areas: "a b c";
	align-items: center;
	border-bottom: 2px solid black;
}

.header > :nth-child(1) {
	grid-area: a;
	justify-self: start;
}

.header > :nth-child(2) {
	grid-area: b;
	justify-self: center;
}

.header > :nth-child(3) {
	grid-area: c;
	justify-self: end;
}

.link {
	color: var(--color-text);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.link[aria-current] {
	text-decoration: underline;
}

.navList {
	display: flex;
	gap: var(--s-m);
	padding: var(--s-l) var(--s-m);
	list-style: none;
}
