# SolidStart
dist
.solid
.output
.vercel
.netlify
.vinxi

# Environment
.env
.env*.local

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
codebase.md

# System Files
.DS_Store
Thumbs.db

# Vitest
coverage/
__snapshots__/
__screenshots__/

# Playwright
test-results/
playwright-report/
playwright/.cache/
