# Build
dist
.solid
.output
.vercel
.netlify

# Environment
.env
.env*.local

# Dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore
codebase.md

# System Files
Thumbs.db
.DS_Store

# Testing
.vitest
.playwright
