.formField {
	display: flex;
	flex-direction: column;
}

.input,
.button {
	padding: var(--s-s);
}

.select {
	width: 100%;
	padding: calc(var(--s-s) + .25em);
}

/* fix for mobile safari */
.input {
	min-width: calc(100% - var(--s-m));
	min-height: var(--s-xl);
	appearance: none;
}
