.link {
	color: var(--color-text);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.link[aria-current] {
	text-decoration: underline;
}

.navList {
	display: flex;
	gap: var(--s-m);
	padding: var(--s-l) var(--s-m);
	list-style: none;
}
