/* reset inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

a[aria-current]:not([aria-current="false"]) {
	text-decoration: underline;
}

/* global styles */

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		helvetica,
		Cantarell,
		Ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
}

main {
	padding: 1rem;
	border: 2px solid black;
	border-top: none;
	min-height: calc(100vh - 4.75rem);
}

.header {
	display: grid;
	border: 2px solid black;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "nav empty empty";
}

.nav {
	grid-area: nav;
	justify-self: start;
}

.nav-list {
	display: flex;
	gap: 1em;
	list-style-type: none;
	padding: 1.5rem 1rem;
}
