/* reset inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* global variables - temporary values */

:root {
	/* font family */
	--ff-sans: "Inter", sans-serif;
	--ff-mono: "Fira Code", monospace;
	--ff-serif: "Merriweather", serif;

	/* space / size */
	--s-xs: 0.25rem;
	--s-s: 0.5rem;
	--s-m: 1rem;
	--s-l: 1.5rem;
	--s-xl: 3rem;
	--s-xxl: 4rem;
}

/* global styles below */

body {
	font-family: var(--ff-sans);
}

main {
	padding: var(--s-m);
}
