.taskListWrapper {
	max-width: 375px;
	gap: var(--s-m);
	display: flex;
	flex-direction: column;
}

.taskList {
	display: flex;
	gap: var(--s-s);
	flex-direction: column;
	list-style: none;
}

.taskListItem {
	padding: var(--s-m);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid black;
}

.taskForm {
	max-width: 375px;
	display: grid;
	gap: var(--s-s);
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"name         name"
		"type         status"
		"startDate    endDate"
		"createButton createButton"
		"cancelButton cancelButton";
}

.taskForm > :nth-child(1) {
	grid-area: name;
}

.taskForm > :nth-child(2) {
	grid-area: type;
}

.taskForm > :nth-child(3) {
	grid-area: status;
}

.taskForm > :nth-child(4) {
	grid-area: startDate;
}

.taskForm > :nth-child(5) {
	grid-area: endDate;
}

.taskForm > :nth-child(6) {
	grid-area: createButton;
}

.taskForm > :nth-child(7) {
	grid-area: cancelButton;
}
